body{
	font-family: cursive;
	background-color: yellow;
}
.row{
	text-align: center;
}
.con{
	text-align: center;
	background-color: lightblue;
	color: maroon;
}
.topbar{
	background-color: maroon;
}
.important{
	text-align: center;
	background-color: yellow;
	color: maroon;
}
.btn{
	color: maroon;
}
.image{
	height: 40px;
	width: 40px;
}
.sidebar{
	background-color: lightgreen;
	color: maroon;
	float: right;
}
#lower{
	margin-top: 10px;
	padding-bottom: 10px;
}
/*#result {
	display: none;
}*/
